@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: "Raleway", sans-serif;
    margin:0;
    padding:0;
    background-color:var(--background-light);
    /*background-attachment: fixed; no effect*/
    display: block;
}

:root {
    --background-light: #f4f4f4;
    --box-shadow: 1px 1px 5px black;
    --border-light: 0.5px solid #ddd;
    --border-dark: 0.5px solid #aaa;

    --hover-transition: all 0.5s ease-in-out;

    --color-active: #03a9f4;
    --color-hover: #00bbff;

    --color-pro: 130,210,130;
    --color-con: 210,130,130;
    --color-head: 130,130,130;
}

/* #region title image*/

#titleImageContainer {
    background-image: url(../images/titleImageHome.jpg);
    height: 32vh;
    margin-bottom: 30px;
    background-position: center center;
    background-size: cover;
    position: relative;
}

#titleOverlayColor {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#titleOverlayText {
    position: relative;
    color: white;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 16vh;
}

#titleOverlayText h2 {
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

#titleOverlayText span {
    text-transform: capitalize;
}

/* #endregion title image*/

/* #region top navigation bar*/
.nav {
    position: sticky;
    align-items: center; /*align vertically*/
    background-color: inherit;
    box-shadow: var(--box-shadow);
    display: flex;
    overflow: hidden;
    z-index: 1;
}

.nav a {
    color: black;
    text-decoration: none;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
}

.nav a:hover{
    color:var(--color-hover);
}

.nav .active {
    color: var(--color-active);
}

#navTop {
    justify-content: right;
    top: 0;

    --navTopHeight : max(6vh,60px);
    height: var(--navTopHeight);
}

#navTop a {
    font-size: 18px;
}

#navMenuButton {
    display: none;
}

#navBot {
    position: fixed;
    justify-content: space-between;
    width: 100vw;
    bottom: 0;

    height: max(3vh, 30px);
}

#changeDate {
    padding-left: 1.5vw;
}

/* #endregion top navigation bar*/

#main {
    padding-top: 16px;
    padding-left: 5vw;
    padding-right: 5vw;
}

.sectionWrapper {
    margin: auto;
    width: 750px;
    margin-bottom: 80px;
    text-align: center;
}

.sectionIntro {
    font-size: 24px;
    color: var(--color-active);
}

.sectionTitle {
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
}

.sectionText {
    font-size: 14px;
    text-align: justify;
    color: #999;
    line-height: 29px;
}

/* #region text with horizontal line */
.textWithHorizontalLine {
    color: #999;
    font-size: 14px;
    display: flex;
    text-align: center;
}

.textWithHorizontalLine span {
    width: 100%;
}

.textWithHorizontalLine::before, .textWithHorizontalLine::after {
    display: inline-block;
    content: "";
    width: 100%;
    border-bottom: 0.5px solid #ddd; 
    margin-bottom: 6px; 
}

/* #endregion text with horizontal line */

/* #region topicSearch */
#topicSearch {
    position: relative;
    margin-top: 2vh;
    display: flex;
    border-bottom: 0.5px solid #ddd;
}

#topicSearch input{
    background-color: inherit;
    border: none;
    width: 100%;
    font-size: 16px;
}

#topicSearch input:focus {
    outline: none;
    border-bottom: 0.5px solid #00bbff;
}

#topicSearch button {
    position: absolute;
    right: 0;
    top: -18px;
    border: none;
    background-color: inherit;
    transform: scale(-1,1);
}

#topicSearch button::before {
    content: "\2315";
    font-size: 26px;
    color: #999;
    font-weight: 1000;
    cursor: pointer;
}

#searchTermContainer {
    height: 50px;
    display: block;
}

.searchTerm {
    display: inline-block;
    width: fit-content;
    height: 20px;
    background-color: #00bbff;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 5px;
    margin-right: 5px;
}

.searchTerm button {
    color: inherit;
    border: none;
    background-color: inherit;
    text-shadow: 1px 1px 5px black; 
}

.searchTerm button:hover {
    cursor: pointer;
    color: white;
}
/* #endregion topicSearch */

#mainContainer {
    display: flex;
}

.mainContainerWrapper {
    margin-top: 30px;
    flex: 1;
    text-align: center;
}

#contactContainer {
    flex: 1;
    display: grid;
    grid-template-columns: 50% 50%;
}

/* #region linkPanel */

.linkPanel {
    position: relative;
    display: block;
    box-sizing: border-box;
    height: max(18vh,100px);
    fill: #03a9f4;
}

.linkPanel:hover {
    background-color:var(--color-hover);
    color: #fff;
    fill: #fff;
    transition: var(--hover-transition);
}

.linkPanel svg {
    margin-top: 6vh;
    margin-bottom: 1vh;
    height: 40px;
    width: 40px;
    fill: inherit;
}

.linkPanel a {
    font-size: 20px;
    display: block;
    text-decoration: none;
    color: inherit;
}

.linkPanel a span { 
    /*in order to make whole conctact clickable*/
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

#contactContainer .linkPanel:nth-child(2n+1) {
    border-right: var(--border-light);
}

/* #endregion linkPanel*/

#discussionContainer {
    flex: 1;
}

#mainContainer.discuss {
    display: block;
}

.treeContainer {
    display: block;
}

/* #region discussionTree*/

#contributionTree {
    min-height: fit-content;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    overflow-y: auto;
    display: flex;
    justify-content: center;

    --treeElWidth: max(5vw,30px);
    --treeElHeight: max(5vh,20px);
}

#contributionTree.aTreeWasSelected {
    border-bottom: var(--border-light);
}

.verticalBranch {
    width: 1px;
    height: 5px;
    margin: 0 auto;
    display: block;
    border-left: var(--border-dark); 
}

.treeElement {
    display: block;
    margin: 0 auto;
    width: var(--treeElWidth);
    height: var(--treeElHeight);
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    position: relative;
}


.treeElement span[role=tooltip] {
    display: none;
}

.treeElement:hover span[role=tooltip] {
    display: block;  
    position: absolute; 
    text-align: center;
    top: var(--treeElHeight);
    left: calc(var(--treeElWidth)/2);
    width: calc(var(--treeElWidth)*5);
    padding: 5px;
    z-index: 100;
    color: #000; 
    box-shadow: var(--box-shadow);
    border-radius: 3px;
  }

.treeBranchBox {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1px;
}

.treeArgBox {
    border-top: var(--border-dark); 
}

.treeHead {
    background-color: rgb(var(--color-head));
}

.treeHead:hover span[role=tooltip] {
    background-color: rgba(var(--color-head), 0.6);
}

.pro {
    background-color: rgb(var(--color-pro));
}

.pro:hover span[role=tooltip] {
    background-color: rgba(var(--color-pro), 0.6);
}

.con {
    background-color: rgb(var(--color-con));
}

.con:hover span[role=tooltip] {
    background-color: rgba(var(--color-con), 0.6);
}

/* #endregion discussionTree*/

/* #region topicOverview*/
#statementOverview {
    display: block;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    height: 160px;
    overflow-y: auto;
    border-top: var(--border-light);
    border-bottom: var(--border-light);
    margin-bottom: 20px;
}

.statement {
    display: inline-block;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    width: 100%;
    background-color: #ddd;
    color: black;
    font-size: 16px;
    vertical-align: middle;
}

.statement:hover {
    background-color:var(--color-hover);
    color: #fff;
    transition: var(--hover-transition);
    cursor: pointer;
}

/* #endregion topicOverview*/

/* #region adjustments for different media */
@media only screen and (max-height:700px) {
    #navTop a {
        font-size: 16px;
    }
}

@media only screen and (max-width:800px) {
    #navTop {
        display: block;
        transition: height 0.5s;
    }
    
    .navTopLinksAbove a {
        display: none;
    }

    #navTopLinks a::before {
        display: block;
        content: "";
        width: 90vw;
        margin-left: -5vw;
        margin-bottom: 10px;
        margin-right: 5vw;
        border-top: var(--border-light);
    }

    #navTopLinks a {
        padding: 0;
    }

    .navTopLinksBelow {
        margin-left: 10%;
        display: grid;
        gap: 12px;
        margin-top: 60px;
    }
    
    #navMenuButton {
        position: absolute;
        right: 10px;
        top: 10px;
        background-color: var(--background-light);
        border: var(--border-light);
        display: block;
        padding-top: 12px;
        padding-bottom: 12px;
        transition: var(--hover-transition);
    }
    
    #navMenuButton:hover {
        background-color:var(--color-hover);
        color:#000;
        transition: var(--hover-transition);
    }
    
    #navMenuButton .iconBar {
        background-color: black;
        border-radius: 1px;
        display: block;
        height: 2px;
        width: 22px;
    }

    #mainContainer {
        display: block;
    }

    .sectionWrapper {
        width: 90vw;
    }

    #contactContainer {
        display: grid;
        grid-template-columns: 100%;
    }

    .linkPanel {
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    #contactContainer .linkPanel:nth-child(2n+1) {
        border: none;
    }

    .textWithHorizontalLine::before, .textWithHorizontalLine::after {
        flex-shrink: 1.5;
    }
    
    #navMenuButton .iconBar + .iconBar{
        margin-top: 4px;
    }
}

/* #endregion adjustments for different media */