@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: "Raleway", sans-serif;
    margin:0;
    padding:0;
    background-color:#f4f4f4;
    /*background-attachment: fixed; no effect*/
    display: block;
}

/* #region title image*/

#titleImageContainer {
    background-image: url(../images/titleImageHome.jpg);
    padding-top: 20vh;
    padding-bottom: 12vh;
    margin-bottom: 30px;
    background-position: center center;
    background-size: cover;
    position: relative;
}

#titleOverlayColor {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#titleOverlayText {
    position: relative;
    color: white;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#titleOverlayText h2 {
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

#titleOverlayText span {
    text-transform: capitalize;
}

/* #endregion title image*/

/* #region top navigation bar*/
#nav {
    position: sticky;
    top: 0;
    align-items: center; /*align vertically*/
    background-color: inherit;
    box-shadow: 1px 1px 5px black;
    display: flex;
    justify-content: right;
    overflow: hidden;
    z-index: 1;
    height: 60px;
}

#nav a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
    /*padding-top: 2vh;
    padding-bottom: 2vh; no effect*/
}

#nav a:hover{
    color:#00bbff;
}

#navMenuButton {
    display: none;
}

#nav .active {
    color: #03a9f4;
}

/* #endregion top navigation bar*/

#main {
    padding-top: 16px;
    padding-left: 5vw;
    padding-right: 5vw;
}

.sectionIntro {
    font-size: 24px;
    color: #03a9f4;
}

.sectionTitle {
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
}

/* #region text with horizontal line */
.textWithHorizontalLine {
    color: #999;
    font-size: 14px;
    display: flex;
    text-align: center;
}

.textWithHorizontalLine span {
    width: 100%;
}

.textWithHorizontalLine::before, .textWithHorizontalLine::after {
    display: inline-block;
    content: "";
    width: 100%;
    border-bottom: 0.5px solid #ddd; 
    margin-bottom: 6px; 
}

/* #endregion text with horizontal line */

/* #region topicSearch */
#topicSearch {
    position: relative;
    margin-top: 2vh;
    display: flex;
    border-bottom: 0.5px solid #ddd;
}

#topicSearch input{
    background-color: inherit;
    border: none;
    width: 100%;
    font-size: 16px;
}

#topicSearch input:focus {
    outline: none;
    border-bottom: 0.5px solid #00bbff;
}

#topicSearch button {
    position: absolute;
    right: 0;
    top: -18px;
    border: none;
    background-color: inherit;
    transform: scale(-1,1);
}

#topicSearch button::before {
    content: "\2315";
    font-size: 26px;
    color: #999;
    font-weight: 1000;
    cursor: pointer;
}

#searchTermContainer {
    height: 50px;
    display: block;
}

.searchTerm {
    display: inline-block;
    width: fit-content;
    height: 20px;
    background-color: #00bbff;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 5px;
    margin-right: 5px;
}

.searchTerm button {
    color: inherit;
    border: none;
    background-color: inherit;
    text-shadow: 1px 1px 5px black; 
}

.searchTerm button:hover {
    cursor: pointer;
    color: white;
}
/* #endregion topicSearch */

#mainContainer {
    display: flex;
}

.mainContainerWrapper {
    margin-top: 30px;
    flex: 1;
    text-align: center;
}

#contactContainer {
    flex: 1;
    display: grid;
    grid-template-columns: 50% 50%;
}

/* #region linkPanel */

.linkPanel {
    position: relative;
    display: block;
    box-sizing: border-box;
    height: max(18vh,100px);
    fill: #03a9f4;
}

.linkPanel:hover {
    background-color:#00bbff;
    color: #fff;
    fill: #fff;
    transition: all 0.5s ease-in-out;
}

.linkPanel svg {
    margin-top: 6vh;
    margin-bottom: 1vh;
    height: 40px;
    width: 40px;
    fill: inherit;
}

.linkPanel a {
    font-size: 20px;
    display: block;
    text-decoration: none;
    color: inherit;
}

.linkPanel a span { 
    /*in order to make whole conctact clickable*/
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

#contactContainer .linkPanel:nth-child(2n+1) {
    border-right: 0.5px solid #ddd;
}

/* #endregion linkPanel*/

#discussionContainer {
    flex: 1;
}

#mainContainer.discuss {
    display: block;
}

.discussionTreeElement {
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
}

.discussionTreeHead {
    background-color: grey;
}

.pro {
    background-color: green;
}

.con {
    background-color: red;
}

/* #region topicOverview*/
#statementOverview {
    display: block;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    height: 160px;
    overflow-y: auto;
    border-top: 0.5px solid #ddd;
    border-bottom: 0.5px solid #ddd;
    margin-bottom: 20px;
}

.statement {
    display: inline-block;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    width: 100%;
    background-color: #ddd;
    color: black;
    font-size: 16px;
    vertical-align: middle;
}

.statement:hover {
    background-color:#00bbff;
    color: #fff;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

/* #endregion topicOverview*/

/* #region discussionTree*/

#contributionTree {
    min-height: fit-content;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    overflow-y: auto;
    border-bottom: 0.5px solid #ddd;
}

/* #endregion discussionTree*/

/* #region adjustments for different media */
@media only screen and (max-height:700px) {
    #nav a {
        font-size: 16px;
    }
}

@media only screen and (max-width:800px) {
    #nav {
        display: block;
        min-height: 60px;
        transition: height 0.5s;
    }
    
    .navLinksTop a {
        display: none;
    }

    #navLinks a::before {
        display: block;
        content: "";
        width: 90vw;
        margin-left: -5vw;
        margin-bottom: 10px;
        margin-right: 5vw;
        border-top: 0.5px solid #ddd;
    }

    #navLinks a {
        padding: 0;
    }

    .navLinksBelow {
        margin-left: 10%;
        display: grid;
        gap: 12px;
        margin-top: 60px;
    }
    
    #navMenuButton {
        position: absolute;
        right: 10px;
        top: 10px;
        background-color: #f4f4f4;
        border: 1px solid #ddd;
        display: block;
        padding-top: 12px;
        padding-bottom: 12px;
        transition: all .3s ease-in-out;
    }
    
    #navMenuButton:hover {
        background-color:#00bbff;
        color:#000;
        transition: all .3s ease-in-out;
    }
    
    #navMenuButton .iconBar {
        background-color: black;
        border-radius: 1px;
        display: block;
        height: 2px;
        width: 22px;
    }

    #mainContainer {
        display: block;
    }

    #contactContainer {
        display: grid;
        grid-template-columns: 100%;
    }

    .linkPanel {
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    #contactContainer .linkPanel:nth-child(2n+1) {
        border: none;
    }

    .textWithHorizontalLine::before, .textWithHorizontalLine::after {
        flex-shrink: 1.5;
    }
    
    #navMenuButton .iconBar + .iconBar{
        margin-top: 4px;
    }
}

/* #endregion adjustments for different media */